body
    {
    background-color:rgb(24,24,24);
    
    background-image:url(images/watch-dogs-2-wallpaper-6.jpg);
	background-repeat:no-repeat;

    background-attachment:fixed;

    background-position:center;
	
    background-size:90%;
    }
	#logotip{
	background-color:white;
	color:black;
	padding: 20px;
	margin: 20px;
	border-radius:100%;
	opacity:0.8;
	width:700px;
	height:300px;
	margin:0 auto;
	text-align: center;
	font-size:150px;
	
	
}

#logotip:hover{
	
	opacity: 1;
}

#stroki{
	background-color:white;
	color:black;
	padding: 20px;
	margin: 20px;
	border-radius:100px;
	opacity:0.8;
	width:700px;
	height:550px;
	margin:0 auto;
	text-align: center;
	font-size:50px;
	position:absolute;
    left:575px;
    top:365px;
    z-index:-1;
}

#stroki:hover{
	
	opacity:1;
}

#Email{
	background-color:white;
	color:black;
	padding: 20px;
	margin: 20px;
	border-radius:100px;
	width:650px;
	height:35px;
	margin:0 auto;
	text-align: center;
	font-size:30px;
	position:absolute;
    left:600px;
    top:450px;
    z-index:-1;
}

#pasword{
	background-color:white;
	color:black;
	padding: 20px;
	margin: 20px;
	border-radius:100px;
	width:650px;
	height:35px;
	margin:0 auto;
	text-align: center;
	font-size:30px;
	position:absolute;
    left:600px;
    top:600px;
    z-index:-1;
	
}

#reg{
	background-color:black;
	color:green;
	font-size:30px;
	position:static;
	height:0;
}
